.container {
  margin: 8px auto;
  width: 1241px;
  background-color: #F6F6EF;
}

p.title {
  font-family: Verdana;
  font-size: 10pt;
  margin:0;
}

.subtext {
  font-family: Verdana;
  font-size: 7pt;
  color: #828282;
}
.main-nav, .main-nav a:visited, .main-nav a:link, .main-nav span{
  position:relative;
  width:100%;
  height:24px;
  background-color: #FF6600;
  color:black;
  font-family: Verdana;
  font-size: 10pt;
}
.main-nav a:visited, .main-nav a:link, .main-nav span{
  position:relative;
  bottom:3px;
}
.home-link {
  position:relative;
  bottom:3px;
  font-weight:bold;
}

.login-status {
  float:right;
  position:relative;
  top:6px;
  right:6px;
}

img {
  border: 1px solid white;
  position:relative;
  top:2px;
  left:2px;
}

.posts li {
  margin:3px;
}

ol.posts {
  padding-left: 25px;
}
a {
  text-decoration: none;
}

a:link{
  color:black;
}

a:visited {
  color: #828282;
  text-decoration: none;
}

.comment {
  margin-bottom: 30px;
}

header.post-header{
  margin: 30px auto;
}

